# CMake files and directories
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
Temporary
Testing
cmake_install.cmake

# Nmake data related to the linking process?  Not sure
*.ilk

# Windows debug info
*.pdb

# The library this repository is meant to generate
libtools-cpp.a
libtools-cpp.so
tools-cpp.lib

# Emacs temporary files
*~
\#*
.#*

# Ignore the test binaries but not the identically-named directories (on Linux
# and macOS) that contain them
*.exe
*_test
!*_test/
