# CMake files and directories
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
Temporary
Testing
cmake_install.cmake

# The library this repository is meant to generate
libtools-cpp.a
libtools-cpp.so
